<div class="row">
  <div class="col-4" *ngFor="let item of items">
      <mdb-card>
          <div class="discount">
              <div class="row">
                  <div class="col">
                      <button type="button" mdbBtn color="info" mdbWavesEffect disabled>
                        <h1>
                          {{ item.discount }}%</h1></button>
                  </div>
                  <div class="col-6">
                    <br>
                    <h3 class="font-weight-bold blue-text">
                      <strong>Rs {{ item.newPrice }}.00</strong>
                    </h3>
                    <h6 class="font-weight-bold red-text">
                      <strong><del>Rs {{ item.oldPrice }}.00</del></strong>
                    </h6>
                  </div>
                  <div class="col">
                  </div>
                </div>
               </div>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <mdb-card-img src="{{ item.photoUrl }}" alt="Card image cap"></mdb-card-img>
          </div>
          <mdb-card-body>
            <mdb-card-title>
              <h4>{{ item.name }}</h4>
              <h5>SupplierName</h5>
            </mdb-card-title>
            <button mdbBtn type="button" gradient="aqua" size="sm" mdbWavesEffect *ngIf="authService.isLoggedIn()"><i class="fa fa-heart-o" aria-hidden="true"></i> wishList</button>
            <button mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect *ngIf="authService.isLoggedIn()"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> buyNow</button>
           </mdb-card-body>

        </mdb-card>
</div>
</div>