<br><br>

<!-- Default form contact -->
<form [formGroup]="CreateAdvertisement" class ="text-center border border-light p-5" #f="ngForm" (ngSubmit)="logIn(CreateAdvertisement.value)">

  <p class="h4 mb-4">Special Advertisement</p>

  <div class="row">
  <div class="form-check form-check-inline">
    <input type="radio" 
    class="form-check-input"
    value=1
    formControlName="role"
    >
    <label class="form-check-label" for="materialInline1">Clothing</label>
  </div>
  
  <!-- Material inline 2 -->
  <div class="form-check form-check-inline">
    <input type="radio" 
    class="form-check-input" 
    value=2 
    formControlName="role"
    >
    <label class="form-check-label" for="materialInline2">Food</label>
  </div>

  <div class="form-check form-check-inline">
    <input type="radio" 
    class="form-check-input"
    value=3
    formControlName="role"
    >
    <label class="form-check-label" for="materialInline1">Finance</label>
  </div>
  
  <!-- Material inline 2 -->
  <div class="form-check form-check-inline">
    <input type="radio" 
    class="form-check-input" 
    value=4
    formControlName="role"
    >
    <label class="form-check-label" for="materialInline2">Services</label>
  </div>

  <div class="form-check form-check-inline">
    <input type="radio" 
    class="form-check-input"
    value=5
    formControlName="role"
    >
    <label class="form-check-label" for="materialInline1">Other</label>
  </div>
  
   <select class="browser-default custom-select mb-4" >
    <option value= 1 disabled  >Choose your place</option>
    <option value= 2 formControlName="roll" >Clothing</option>
    <option value= 3 formControlName="roll">Food</option>
    <option value= 4 formControlName="roll">Finance</option>
    <option value= 5 formControlName="roll">Services</option>
    <option value= 6 formControlName="roll">Other</option>
  </select> 
  
  

  <!-- Name -->
  <input type="number" 
        formControlName="NewPrice"  
        id="" class="form-control mb-4" 
        placeholder="New Price" 
        [ngClass]="{'is-invalid': CreateAdvertisement.get('NewPrice').touched && CreateAdvertisement.get('NewPrice').invalid}"
        >
        <div *ngIf="CreateAdvertisement.get('NewPrice').touched && CreateAdvertisement.get('NewPrice').invalid" class="invalid-feedback">
          <div *ngIf="CreateAdvertisement.get('NewPrice').errors.required">New price is required</div>
          <div *ngIf="CreateAdvertisement.get('NewPrice').errors.pattern "> </div>
      
       </div>
  
   
  <input type="number" 
    formControlName="OldPrice"  
    id="" class="form-control mb-4" 
    placeholder="Old Price"
    [ngClass]="{'is-invalid': CreateAdvertisement.get('OldPrice').touched && CreateAdvertisement.get('OldPrice').invalid}"
    >
    <div *ngIf="CreateAdvertisement.get('OldPrice').touched && CreateAdvertisement.get('OldPrice').invalid" class="invalid-feedback">
       <!-- <div *ngIf="CreateAdvertisement.get('OldPrice').errors.required">Old price is required</div> -->
        <div *ngIf="CreateAdvertisement.get('OldPrice').errors.pattern "> </div>
    
     </div>
   
  
   <input type="number" 
         formControlName="Discount"  
         id="" class="form-control mb-4"
         placeholder="Discount"
         [ngClass]="{'is-invalid': CreateAdvertisement.get('Discount').touched && CreateAdvertisement.get('Discount').invalid}"
         >
    <div *ngIf="CreateAdvertisement.get('Discount').touched && CreateAdvertisement.get('Discount').invalid" class="invalid-feedback">
        <!-- <div *ngIf="CreateAdvertisement.get('OldPrice').errors.required">Old price is required</div> -->
          <div *ngIf="CreateAdvertisement.get('Discount').errors.pattern "> </div>
         
      </div>     
   


  Start Date: 
  <input type="date" formControlName="StartDate"  id="" class="form-control mb-4" placeholder="Start Date">
  <div *ngIf="CreateAdvertisement.get('NewPrice').touched " >
    <!-- Start Date Required!-->
  </div>

  
  End Date:<input type="date" formControlName="EndDate" id="" class="form-control mb-4" placeholder="End Date">
  <div *ngIf="CreateAdvertisement.get('NewPrice').touched " >
   <!-- End Date Required!-->
  </div>

  <div class="upload">
  <input type="file" id="" class="form-control mb-4" placeholder="" (change)="upload($event)"  accept=".png,.jpg"   >
  </div>

  
</div>
   
  <button class="btn btn-info btn-block" type="submit" >Submit</button>

</form>